# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
npm-debug.log
yarn-error.log

# Build output
dist/
build/

# IDE/Editor specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Optional: System-specific files (Windows, macOS, etc.)
*.swp
